In [2]:
import numpy as np
import pandas as pd

training_data = pd.read_csv('data/training_data.csv')
training_data.head()

,year,month,shop_id,shop_t,shop_tm1,shop_tm11,item_category_id,categ_t,categ_tm1,categ_tm11,item_id,t,tm1,tm2,tm5,tm11,tp1
0,2014,0,2,890.0,1322.0,488.0,40,76.0,93.0,40.0,32,1.0,0.0,0.0,0.0,0.0,0.0
1,2014,0,2,890.0,1322.0,488.0,37,44.0,55.0,21.0,33,1.0,1.0,2.0,0.0,0.0,0.0
2,2014,0,2,890.0,1322.0,488.0,37,44.0,55.0,21.0,99,1.0,0.0,0.0,0.0,0.0,0.0
3,2014,0,2,890.0,1322.0,488.0,73,4.0,3.0,10.0,482,2.0,1.0,2.0,0.0,1.0,1.0
4,2014,0,2,890.0,1322.0,488.0,73,4.0,3.0,10.0,485,1.0,1.0,0.0,0.0,0.0,1.0

In [3]:
y = training_data['tp1']

features_to_use = ['year','month','shop_id','item_category_id','item_id','t']
categ_features = ['year','month','shop_id','item_category_id','item_id']
X = training_data[features_to_use]
X.head()

   year  month  shop_id  item_category_id  item_id    t
0  2014      0        2                40       32  1.0
1  2014      0        2                37       33  1.0
2  2014      0        2                37       99  1.0
3  2014      0        2                73      482  2.0
4  2014      0        2                73      485  1.0

In [8]:
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and validation sets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Validation set has {} samples.".format(X_valid.shape[0]))

Training set has 711895 samples.
Validation set has 177974 samples.

In [9]:
from sklearn.metrics import mean_squared_error

def calc_RMSE(actuals, predictions):
    return np.sqrt(mean_squared_error(actuals, predictions))

In [10]:
def assess_model(regressor):
    regressor_model = regressor.fit(X_train, y_train)

    predictions_train = regressor_model.predict(X_train)
    print('Training RMSE:', calc_RMSE(y_train, predictions_train))

    predictions_valid = regressor_model.predict(X_valid)
    print('Validation RMSE:', calc_RMSE(y_valid, predictions_valid))

In [11]:
from sklearn.linear_model import LinearRegression

algo = LinearRegression()
assess_model(algo)

Training RMSE: 6.652349274338391
Validation RMSE: 6.390312117233297

In [12]:
from sklearn.tree import DecisionTreeRegressor

algo = DecisionTreeRegressor()
assess_model(algo)

Training RMSE: 0.18729176906105374
Validation RMSE: 6.062720942905972

In [13]:
from sklearn.ensemble import AdaBoostRegressor

algo = AdaBoostRegressor()
assess_model(algo)

Training RMSE: 8.83181866060288
Validation RMSE: 9.655543657899768

In [15]:
from sklearn.ensemble import BaggingRegressor

algo = BaggingRegressor()
assess_model(algo)

Training RMSE: 2.9440078881551974
Validation RMSE: 5.34248521555771

In [16]:
from sklearn.ensemble import ExtraTreesRegressor

algo = ExtraTreesRegressor()
assess_model(algo)

Training RMSE: 0.18729176906105374
Validation RMSE: 5.524795170031723

In [17]:
from sklearn.ensemble import GradientBoostingRegressor

algo = GradientBoostingRegressor()
assess_model(algo)

Training RMSE: 4.626480806659452
Validation RMSE: 5.654453051424908

In [18]:
from sklearn.ensemble import RandomForestRegressor

algo = RandomForestRegressor()
assess_model(algo)

Training RMSE: 2.331023129630312
Validation RMSE: 5.337679854765986

In [22]:
import xgboost as xgb

algo = xgb.XGBRegressor()
assess_model(algo)

Training RMSE: 4.719104154861943
Validation RMSE: 5.590098623527652

In [23]:
from lightgbm.sklearn import LGBMRegressor

algo = LGBMRegressor()
assess_model(algo)

Training RMSE: 4.465314586685877
Validation RMSE: 5.014335666505471