In [1]:
import numpy as np
import pandas as pd

training_data = pd.read_csv('input/training_data_0_categ_date.csv')
training_data.head()

,date_block_num,shop_id,item_id,item_cnt_day,item_cnt_tm1,item_cnt_tm2,item_cnt_tm12,item_cnt_tp1,categ_id,year,month
0,12,2,32,1.0,0.0,0.0,0.0,0.0,40,2014,0
1,12,2,33,1.0,1.0,2.0,1.0,0.0,37,2014,0
2,12,2,99,1.0,0.0,0.0,0.0,0.0,37,2014,0
3,12,2,482,2.0,1.0,2.0,1.0,1.0,73,2014,0
4,12,2,485,1.0,1.0,0.0,0.0,1.0,73,2014,0

In [2]:
y = training_data['item_cnt_tp1']
X = training_data.drop(['date_block_num','item_cnt_tp1'], axis=1)
X.head()

,shop_id,item_id,item_cnt_day,item_cnt_tm1,item_cnt_tm2,item_cnt_tm12,categ_id,year,month
0,2,32,1.0,0.0,0.0,0.0,40,2014,0
1,2,33,1.0,1.0,2.0,1.0,37,2014,0
2,2,99,1.0,0.0,0.0,0.0,37,2014,0
3,2,482,2.0,1.0,2.0,1.0,73,2014,0
4,2,485,1.0,1.0,0.0,0.0,73,2014,0

In [6]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size = 0.2, 
                                                    random_state = 42)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Training set has {} columns.".format(X_train.shape[1]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 73912 samples.
Training set has 9 columns.
Testing set has 18478 samples.

In [8]:
from sklearn.metrics import mean_squared_error

def calc_RMSE(actuals, predictions):
    return np.sqrt(mean_squared_error(actuals, predictions))

In [ ]:
def assess_model(regressor):
    regressor_model = regressor.fit(X_train, y_train)

    predictions_train = regressor_model.predict(X_train)
    print('Training RMSE:', calc_RMSE(y_train, predictions_train))

    predictions_test = regressor_model.predict(X_test)
    print('Testing RMSE:', calc_RMSE(y_test, predictions_test))

In [ ]:
from sklearn import linear_model.LinearRegression

algo = LinearRegression()
assess_model(algo)

In [10]:
from sklearn.tree import DecisionTreeRegressor

algo = DecisionTreeRegressor(max_depth=4)
assess_model(algo)

Training RMSE: 2.01804112145
Testing RMSE: 2.32785924455

In [ ]:
from sklearn.svm import SVR

svr_lin = SVR(kernel='linear', C=1e3)
assess_model(svr_rbf)

In [ ]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
assess_model(svr_rbf)

In [ ]:
svr_poly = SVR(kernel='poly', C=1e3, degree=2)
assess_model(svr_poly)

In [102]:
from sklearn.ensemble import AdaBoostRegressor

rng = np.random.RandomState(1)
algo = AdaBoostRegressor(DecisionTreeRegressor(max_depth=4), n_estimators=300, random_state=rng)
assess_model(algo)

Training RMSE: 7.6424001107
Testing RMSE: 7.76636463966

In [ ]:
from sklearn.ensemble import BaggingRegressor

algo = BaggingRegressor()
assess_model(algo)

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor

algo = ExtraTreesRegressor()
assess_model(algo)

In [100]:
from sklearn.ensemble import GradientBoostingRegressor

algo = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=1, random_state=0, loss='ls')
assess_model(algo)

Training RMSE: 2.18374109222
Testing RMSE: 2.59514560408

In [99]:
from sklearn.ensemble import RandomForestRegressor

#learner = RandomForestRegressor(max_depth=10, random_state=42)
algo = RandomForestRegressor(random_state=42)
assess_model(algo)

Training RMSE: 0.876969664717
Testing RMSE: 2.09983634986

In [130]:
import xgboost as xgb
from sklearn.model_selection import KFold

#kf = KFold(n_splits=2, shuffle=True, random_state=rng)
#for train_index, test_index in kf.split(X):
#    xgb_model = xgb.XGBRegressor().fit(X[train_index], y[train_index])
#    predictions = xgb_model.predict(X[test_index])
#    actuals = y[test_index]
#    print('Testing RMSE:', np.sqrt(mean_squared_error(actuals, predictions)))

algo = xgb.XGBRegressor()
assess_model(algo)

Training RMSE: 0.00463794653646
Testing RMSE: 0.0538936811326

In [133]:
from lightgbm.sklearn import LGBMRegressor

algo = LGBMRegressor()
assess_model(algo)

Training RMSE: 0.141827152999
Testing RMSE: 0.216376992146

In [110]:
from sklearn.preprocessing import StandardScaler

cnt_scaler = StandardScaler()
cnt_scaler.fit(training_data.item_cnt_tp1.values.reshape(-1, 1))
training_data.item_cnt_tp1 = cnt_scaler.transform(training_data.item_cnt_tp1.values.reshape(-1, 1))
training_data.head()

,date_block_num,shop_id,item_id,item_cnt_day,item_cnt_tm1,item_cnt_tm2,item_cnt_tm12,item_cnt_tp1,categ_id,year,month
0,12,2,32,1.0,0.0,0.0,0.0,-0.249383,40,2014,0
1,12,2,33,1.0,1.0,2.0,1.0,-0.249383,37,2014,0
2,12,2,99,1.0,0.0,0.0,0.0,-0.249383,37,2014,0
3,12,2,482,2.0,1.0,2.0,1.0,0.001657,73,2014,0
4,12,2,485,1.0,1.0,0.0,0.0,0.001657,73,2014,0

In [117]:
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, Activation
from keras.optimizers import RMSprop

model = Sequential()
model.add(Dense(32, input_dim=9))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dense(64))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dense(32, input_dim=9))
model.add(BatchNormalization())
model.add(Activation('relu'))

model.add(Dense(1, activation='relu'))

optimizer = RMSprop(lr=0.001)
model.compile(loss='mean_squared_error', optimizer=optimizer)
model.summary()

model.fit(X_train.values, y_train.values, batch_size=128, epochs=20)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_95 (Dense)             (None, 32)                320
_________________________________________________________________
batch_normalization_61 (Batc (None, 32)                128
_________________________________________________________________
activation_63 (Activation)   (None, 32)                0
_________________________________________________________________
dense_96 (Dense)             (None, 64)                2112
_________________________________________________________________
batch_normalization_62 (Batc (None, 64)                256
_________________________________________________________________
activation_64 (Activation)   (None, 64)                0
_________________________________________________________________
dense_97 (Dense)             (None, 32)                2080
_________________________________________________________________
batch_normalization_63 (Batc (None, 32)                128
_________________________________________________________________
activation_65 (Activation)   (None, 32)                0
_________________________________________________________________
dense_98 (Dense)             (None, 1)                 33
=================================================================
Total params: 5,057.0
Trainable params: 4,801.0
Non-trainable params: 256.0
_________________________________________________________________
Epoch 1/20
73912/73912 [==============================] - 4s - loss: 0.9125
Epoch 2/20
73912/73912 [==============================] - 3s - loss: 0.4856
Epoch 3/20
73912/73912 [==============================] - 3s - loss: 0.3986
Epoch 4/20
73912/73912 [==============================] - 3s - loss: 0.3765
Epoch 5/20
73912/73912 [==============================] - 3s - loss: 0.3673
Epoch 6/20
73912/73912 [==============================] - 3s - loss: 0.3654
Epoch 7/20
73912/73912 [==============================] - 3s - loss: 0.3446
Epoch 8/20
73912/73912 [==============================] - 3s - loss: 0.3640
Epoch 9/20
73912/73912 [==============================] - 3s - loss: 0.3445
Epoch 10/20
73912/73912 [==============================] - 3s - loss: 0.3418
Epoch 11/20
73912/73912 [==============================] - 3s - loss: 0.3255
Epoch 12/20
73912/73912 [==============================] - 3s - loss: 0.3254
Epoch 13/20
73912/73912 [==============================] - 3s - loss: 0.3381
Epoch 14/20
73912/73912 [==============================] - 3s - loss: 0.3349
Epoch 15/20
73912/73912 [==============================] - 3s - loss: 0.3193
Epoch 16/20
73912/73912 [==============================] - 3s - loss: 0.3279
Epoch 17/20
73912/73912 [==============================] - 3s - loss: 0.3322
Epoch 18/20
73912/73912 [==============================] - 3s - loss: 0.3285
Epoch 19/20
73912/73912 [==============================] - 3s - loss: 0.3325
Epoch 20/20
73912/73912 [==============================] - 3s - loss: 0.3712

In [118]:
predictions_train = model.predict(X_train.values)
predictions_train = cnt_scaler.inverse_transform(predictions_train)
y_train_scaled = cnt_scaler.inverse_transform(y_train)
print('RMSE train', np.sqrt(mean_squared_error(predictions_train, y_train_scaled)))

predictions_test = model.predict(X_test.values)
predictions_test = cnt_scaler.inverse_transform(predictions_test)
y_test_scaled = cnt_scaler.inverse_transform(y_test)
print('RMSE test', np.sqrt(mean_squared_error(predictions_test, y_test_scaled)))

RMSE train 2.38773382106
RMSE test 2.70611169862